.main {
    background-color: rgba(255, 38, 129, 1);
    min-height: 100vh;

    .thumbnailListBox {
        position: relative;
        height: calc(100vh - 232px);
        .thumbnailBox {
            position: absolute;
            left: 0;
            top: 0;
            &.hate {
                animation: rotateDownOut 1s forwards;
                transform-origin: center top;
            }
            &.like {
                transform-origin: center top;
                animation: rotateUpOut 1s forwards;
            }
        }

    }
}

.header {
    display: flex;
    padding: 15px 20px 0;
    justify-content: space-between;
    align-items: center;

    .launchPadTab {
        display: flex;
        gap: 20px;
        font-size: 14px;
        font-weight: 500;
        margin-top: 19px;
        
        .launchPadTabTitle {
            position: relative;
            padding-bottom: 10px;
            color: rgba(255, 255, 255, 0.6);
        }
        .launchPadTabTitleActive {
            color: #fff;
            text-shadow: 0px 0px 8px rgba(255, 255, 255, 1);
        }
        .launchPadTabTitleActive::after {
            content: ' ';
            display: block;
            position: absolute;
            width: 50%;
            height: 3px;
            background-color: #fff;
            border-radius: 100px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 1);
        }
    }
    

    .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        .notice {
            cursor: pointer;
        }
    }
}


@keyframes rotateDownOut {
    0% {
        transform: rotate(0deg) translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: rotate(40deg) translate(0, 100vh);
        opacity: 0; 
    }
}

@keyframes rotateUpOut {
    0% {
        transform: rotate(0deg) translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: rotate(-40deg) translate(0, -100vh);
        opacity: 0; 
    }
}
