.Like {
  position: relative;
}

.LikeNum {
  color: #fff;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  font-family: Unbounded;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 2px;
}

.Bar {
  width: 12px;
  height: 180px;
  border-radius: 32px;
  background: rgba(0, 0, 0, 0.6);
  position: relative;
}

.BarInner {
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 2px;
  width: 8px;
  border-radius: 14px;
}

.Heart {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -22px;
  width: 57px;
  height: 47px;
}

.HeartBg {
  position: absolute;
  z-index: 1;
}

.HeartRocket {
  position: absolute;
  z-index: 2;
}

.HeartNum {
  position: absolute;
  z-index: 3;
  text-align: center;
  font-family: Unbounded;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
