.Desc {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.Token {
  border-radius: 20px;
  background: #000;
  position: relative;
  transition: 0.3s;
}
.ActionsWrapper {
  position: absolute;
  right: -50px;
  bottom: 0px;
}

.DetailBtn {
  margin-bottom: 20px;
  transition: 0.3s;
  width: 42px;
  height: 42px;
  border-radius: 42px;
  background-color: #ffffff1a;
  display: flex;
  align-items: center;
  justify-content: center;
}
