.thumbnail {
  position: relative;
  z-index: 10;
  height: calc(100vh - 232px);
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #000;

  .imgList {
    width: 100%;
    height: 100%;

    .tokenImg {
      display: block;
      width: 100%;
      /* height: 100%; */
      /* border-radius: 5px; */
    }
  }

  .commentList {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 30px 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
  }

  .commentBox {
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
    bottom: 0;
    padding: 0 10px 30px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    touch-action: none;
  }

  .descContent {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 30.43%);
  }

  .bottomLike {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .teleGram {
    position: absolute;
    top: 14px;
    right: 12px;
  }

  .tokenMsg {
    /* position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 50%; */
    /* background: linear-gradient(181.33deg,
                rgba(13, 16, 18, 0) 1.14%,
                #0d1012 98.87%); */
    padding: 0 25px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .desc {
      font-size: 13px;
      font-weight: 300;
      margin-top: 10px;
      color: #979abe;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .detailLink {
      position: absolute;
      right: 20px;
      top: 50px;
    }
  }
}

.picProgress {
  display: flex;
  margin: 10px 10px;
  height: 4px;
  gap: 8px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
}

.progressItem {
  flex: 1;
  opacity: 0.5;
  background-color: #fff;
  border-radius: 100px;
}

.progressItemActive {
  opacity: 1;
}

.detailTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 0;
}

.titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  .tokenImgBox {
    border: 1px dashed #fff;
    border-radius: 46px;
    display: flex;
    width: 46px;
    height: 46px;
    align-items: center;
  }

  .tokenImg {
    width: 46px;
    height: 46px;
    border-radius: 46px;
    opacity: 0.3;
  }

  .tokenName {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
  }
}

.loadMore {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  height: 100px;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(
    181.52deg,
    rgba(0, 0, 0, 0) 1.29%,
    #000000 98.71%
  );
  .loadBox {
    flex: 1;
    height: 30px;
    border: 1px solid rgba(147, 121, 166, 1);
    border-radius: 8px;
    color: rgba(240, 221, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.ImgWrapper {
  min-height: 410px;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
