.main {
  padding-top: 10px;
  padding-bottom: 100px;

  .title {
    font-size: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .postBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 84px;
      height: 30px;
      background-color: #9AB3EF;
      border-radius: 15px;
      color: #000;
      font-size: 14px;
      cursor: pointer;
    }
  }
  .inputWrapper {
    margin: 10px 0;
    width: 94vw;
    background-color: #000;
    position: relative;
    .inputClear {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .inputTitle {
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
  }
  .input {
    margin-top: 15px;
    border: 1px solid rgba(146, 144, 177, 0.6);
    border-radius: 8px;
    height: 162px;
    padding: 10px;
    width: 100%;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-family: "Unbounded";
  }
  .input:focus {
    border: none;
    outline: none;
  }
}

.LightMain {
  background-color: #ab1f5c;
  border-radius: 10px;
  margin-right: 10px;
}

.DarkInput {
  background-color: #000;
}

.LightInput {
  background-color: transparent;
}
