.main {
  padding-top: 10px;

  .title {
    font-weight: 600;
    font-size: 18px;
    color: rgba(146, 144, 177, 1);
    /* padding: 0 15px; */
  }
  .inputWrapper {
    border: 1px solid rgba(146, 144, 177, 0.6);
    border-radius: 8px;
    padding: 0 10px;
    margin: 10px 0;
    background-color: #000;
    position: relative;
    .inputClear {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .input {
    height: 37px;
    width: 100%;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    padding: 0 5px;
    font-family: "Unbounded";
  }
  .input:focus {
    border: none;
    outline: none;
  }
}

.LightMain {
  background-color: #ab1f5c;
  border-radius: 10px;
  margin-right: 10px;
}

.DarkInput {
  background-color: #000;
}

.LightInput {
  background-color: transparent;
}
