.main {
}

.txContent {
  background-color: #121719;
  border-radius: 10px;
  padding: 5px 12px;
  margin-left: 5px;
  margin-right: 5px;
}

.txTtitles {
  display: flex;
  align-items: center;
  color: rgba(146, 144, 177, 1);
  border-bottom: 1px solid rgba(146, 144, 177, 0.2);
  padding: 15px 0;
  .titleItem {
    flex: 1;
  }
}

.txList {
  .item {
    display: flex;
    align-items: center;
    padding: 15px 0;
    font-weight: 300;
    .account {
      display: flex;
      align-items: center;
      gap: 10px;
      flex: 2;
      color: rgba(169, 167, 208, 1);
      .avatar {
        width: 20px;
        height: 20px;
        border-radius: 20px;
      }
    }

    .type {
      flex: 1;
      &.sell {
        color: rgba(255, 75, 167, 1);
      }
      &.buy {
        color: rgba(111, 255, 0, 1);
      }
    }

    .value {
      flex: 1;
      color: #fff;
    }

    .vva {
      flex: 1;
      color: #fff;
    }

    .link {
      flex: 1;
    }
  }
}

.LaptopContent {
  background-color: #121719;
  margin: 10px 10px 0 0;
  
}
