.Container {
  width: 100vw;
  position: relative;
}

.Bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.Desc {
  width: 100vw;
  background: linear-gradient(0deg, #000 50%, rgba(0, 0, 0, 0) 100%);
}

.Labels {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 160px;
}

.LikedLabel {
  position: absolute;
  z-index: 1;
  width: 143px;
  height: 114px;
}

.FlippedLabel {
  position: absolute;
  z-index: 2;
  width: 157.878px;
  height: 65.867px;
  top: 76px;
}
