.Container {
  height: calc(100vh - 187px);
  width: 100%;
  background-color: #d8226f;
  border-radius: 28px;
  position: relative;
}

.SexyFi {
  position: absolute;
  width: 492px;
  height: 160px;
  background: url(/img/laptop/sexyfi-1.png) no-repeat;
  bottom: 0;
  z-index: 1;
}

.Content {
  display: flex;
  gap: 16px;
  padding-top: 16px;
  padding-left: 24px;
  height: calc(100% - 98px);
  position: relative;
  z-index: 2;
}

.PanelWrapper {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: calc(100% - 381px);
  --part-bg: #55fff4;
}
