.Container {
  height: calc(100vh - 187px);
  width: 100%;
  background-color: #d8226f;
  border-radius: 28px;
  position: relative;
}

.SexyFi {
  position: absolute;
  width: 492px;
  height: 160px;
  background: url(/img/laptop/sexyfi-1.png) no-repeat;
  bottom: 0;
}
