.Btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.ActionBtn {
  width: 80px;
  height: 28px;
  flex-shrink: 0;
  border-radius: 22px;
  font-family: Unbounded;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.Withdraw {
  border: 1px solid #c9ff5d;
  color: #c9ff5d;
}

.Flip {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid #ffffff66;
  color: #ffffff;
}

.DisabledBtn {
  border-radius: 22px;
  border: 1px solid rgba(127, 112, 138, 0.5);
  color: rgba(127, 112, 138, 0.5);
  cursor: not-allowed;
}

.IconBtn {
  border-radius: 42px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
