.Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 30px 7px;
  position: relative;
}

.Actions {
  display: flex;
  align-items: center;
  gap: 18px;
  flex-shrink: 0;
}

.ConnectButton {
  width: 157px;
  height: 36px;
  border-radius: 48px;
  border: 2px solid #af0;
  color: #af0;
  font-size: 14px;
}

.Alarm {
  position: relative;
}
