.Container {
  display: flex;
  gap: 250px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 17px;
  width: 100%;
  height: 46px;
  background-color: #151515;
}

.Steps {
  display: flex;
  align-items: center;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
}

.StepCircle {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #fff;
  margin-right: 6px;
}

.Buttons {
  display: flex;
  align-items: center;
  gap: 18px;
}

.Button {
  width: 157px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 30px;
  text-align: center;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.SolidButton {
  border: 2px solid #fbca04;
  color: #fff;
  background-color: #000000;
}

.PrimaryButton {
  border-radius: 30px;
  background: #fbca04;
  color: #000000;
}
