.Container {
  position: relative;
  background: linear-gradient(to bottom, #ea2779 0%, #b81a5d 100%);
  border-radius: 20px;
  height: calc(100vh - 120px);
}

.Flip {
  position: absolute;
  width: 492px;
  height: 160px;
  background: url(/img/laptop/flip-1.png) no-repeat;
  bottom: 0;
  z-index: 1;
}

.BackWrapper {
  position: absolute;
  left: 24px;
  top: 32px;
}

.Top {
  display: flex;
  gap: 30px;
  padding-top: 100px;
  padding-left: 60px;
}

.Avatar {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 4px solid rgba(255, 255, 255, 0.55);
}

.Desc {
  flex-grow: 1;
  padding-right: 60px;
}

.NameTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NameWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: Unbounded;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
