.Container {
  width: 681px;
  height: 536px;
  background: url("/img/home/refer-modal-bg.svg") no-repeat center / contain;
  font-family: Unbounded;
}
.ContainerMobile {
  composes: Container;
  width: 100dvw;
  background: radial-gradient(89.59% 86.58% at 40.75% 0%, #FFBCD8 0%, #FFE8F1 100%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.Title {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 30px 40px 0;
}
.TitleMobile {
  composes: Title;
  padding: 30px 10px 0;
}
.EarnedWrapper {
  width: 601px;
  height: 267px;
  background: #FFE7F1;
  border-radius: 20px;
  position: relative;
}
.EarnedWrapperMobile {
  composes: EarnedWrapper;
  width: 100%;
  height: 157px;
}
.EarnedWrapper2 {
  composes: EarnedWrapper;
  height: 257px;
}
.EarnedWrapper2Mobile {
  composes: EarnedWrapper2;
  width: 100%;
  height: 150px;
}
.EarnedTabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 2;
  width: 100%;
  left: 0;
  top: 13px;
}
.EarnedTabsMobile {
  composes: EarnedTabs;
  top: 7px;
}
.Earned {
  width: 100%;
  height: calc(100% + 5px);
  background: url("/img/home/refer-modal-content-bg-1.svg") no-repeat bottom / contain;
  padding: 21px 28px 0;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.EarnedMobile {
  composes: Earned;
  width: 100%;
  padding: 30px 15px 0;
}
.Content {
  padding: 30px 40px 40px;
}
.ContentMobile {
  composes: Content;
  padding: 15px 10px 0px;
}
.EarnedTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: #505050;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  flex: 1;
}
.EarnedTitleMobile {
  composes: EarnedTitle;
  font-size: 12px;
}
.EarnedTitleText {}
.EarnedTitleValue {
  color: #000;
  font-size: 16px;
  font-weight: 700;
}
.EarnedTitleValueMobile {
  composes: EarnedTitleValue;
  font-size: 12px;
}
.Progress {
  width: 100%;
  height: 14px;
  border-radius: 29px;
  background: rgba(215, 215, 215, 0.56);
  margin-top: 111px;
  position: relative;
}
.ProgressMobile {
  composes: Progress;
  margin-top: 85px;
}
.ProgressValue {
  width: 0;
  height: 100%;
  border-radius: 29px;
  background: linear-gradient(90deg, #B443FF 0%, #47FFDA 100%);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.NodeList {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
}
.Node {
  width: 100%;
  height: 53px;
  background: url("/img/home/refer-modal-progress-node.svg") no-repeat center / 53px 53px;
  transform: translateY(-20px);
  position: relative;
  cursor: pointer;
}
.NodeActive {
  composes: Node;
  background-image: url("/img/home/refer-modal-progress-node-active.svg");
}
.NodeLabel {
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  bottom: -45px;
  color: #634F56;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  pointer-events: none;
}
.NodeReward {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: absolute;
  width: 100%;
  height: 40px;
  left: 0;
  top: -55px;
  pointer-events: none;
}
.NodeRewardLabel {
  height: 20px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #FF2681;
  background: rgba(255, 38, 129, 0.10);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  color: #FF2681;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
  padding: 0 7px 0 2px;
}
.NodeRewardIcon {
  width: 16px;
  height: 16px;
}
.NodeRewardContent {
  display: flex;
  gap: 1px;
  color: #505050;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  white-space: nowrap;
  justify-content: center;
}
.NodeRewardValue {
  color: #000;
  font-weight: 600;
}
.NodeRewardUnit {}
.Invite {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.InviteMobile {
  composes: Invite;
  margin-top: 100px;
}
.InviteText {
  color: #505050;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}
.InviteTextPrimary {
  color: #FF2681;
  font-size: 20px;
  font-weight: 700;
}
.InviteBtn {
  height: 60px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #FF2681;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 100px;
  font-family: Unbounded;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease-in-out;
}
.InviteBtn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
