.Container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.Item {
  border-radius: 16px;
  position: relative;
  border: 1px solid #ffa8e8;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ItemBg {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.ItemContent {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ItemContentFollowX {
  composes: ItemContent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.Title {
  color: #fff;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.TitleLaptop {
  composes: Title;
  text-align: left;
  width: 100%;
  padding-left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.TitleIcon {
  width: 13px;
  height: 13px;
  cursor: pointer;
}

.Desc {
  color: rgba(255, 255, 255, 0.6);
  font-family: Unbounded;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 9px;
}
.DescLaptop {
  composes: Desc;
  text-align: left;
  width: 100%;
  padding-left: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.Num {
  color: #fff;
  text-align: center;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 6px;
}
.NumFollowX {
  composes: Num;
  margin-top: 0;
}

.Button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 129px;
  height: 36px;
  border-radius: 100px;
  background: #fff;
  color: #000;
  text-align: center;
  font-family: Unbounded;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.ButtonFollowX {
  composes: Button;
  margin-top: 0;
}

.Link {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  line-height: 24px;
  text-align: center;
  padding: 0px 10px;
  margin-top: 6px;
  color: #fff;
}

.LinkAddress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.LinkAddressValue {
  flex: 1;
  width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.LinkAddressIcon {
  flex-shrink: 0;
}
