.main {
  height: 100%;
  padding: 0 10px;
  .cationArea {
    display: flex;
    flex-direction: column;
    height: 100%;
    .tradeTabs {
      padding: 0 0 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      /* margin-top: -40px; */

      .tab {
        flex: 1;
        background-color: rgba(95, 96, 106, 1);
        color: #fff;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 82px;
        text-indent: -1000px;
        overflow: hidden;

        &.active:first-child {
          background: url("/img/trade/buy.png") no-repeat 0 -10px;
          background-size: 100% auto;
        }

        &.active:last-child {
          background: url("/img/trade/sell.png") no-repeat 0 -10px;
          background-size: 100% auto;
        }
      }
      .tab:first-child {
        background: url("/img/trade/buy-grey.png") no-repeat 0 -10px;
        background-size: 100% auto;
      }
      .tab:last-child {
        background: url("/img/trade/sell-grey.png") no-repeat 0 -10px;
        background-size: 100% auto;
      }
    }
  }

  .tokenBalanceBox {
    border: 1px solid rgba(146, 144, 177, 0.6);
    border-radius: 8px;
    margin-top: 10px;
    .balance {
      text-align: right;
      color: rgba(255, 255, 255, 0.7);
      font-size: 12px;
      padding: 0 10px 10px;
    }
  }

  .inputArea {
    .actionArea {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: rgba(255, 255, 255, 0.7);
      font-size: 12px;
      font-weight: 300;

      .switchTokenName {
        color: #fff;
      }
    }

    .inputArea {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #fff;
      gap: 10px;
      height: 46px;
      padding: 0 10px;
      width: 100%;

      .input {
        flex: 1;
        height: 46px;
        background-color: inherit;
        border: none;
        outline: none;
        color: #fff;
        font-size: 16px;
        width: 0;
      }

      .inputToken {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        font-size: 16px;
        flex-shrink: 0;

        .tokenName {
          white-space: nowrap;
          overflow: hidden;
          max-width: 80px;
          text-overflow: ellipsis;
        }

        .tokenImg {
          width: 30px;
          height: 30px;
          border-radius: 30px;
          overflow: hidden;

          .tiImg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .tokenPercent {
      display: flex;
      align-items: center;
      gap: 6px;
      margin-top: 10px;

      .percentTag {
        font-size: 12px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.7);
        border: 1px solid rgba(146, 144, 177, 0.4);
        border-radius: 30px;
        padding: 5px 10px;
        &.tagActive {
          background-color: rgba(146, 144, 177, 0.4);
          color: #fff;
        }
      }

      .PanelPercentTag {
        height: 20px;
        padding: 4px 6px;
        line-height: 20px;
        text-align: center;
        color: rgba(255, 255, 255, 0.7);
        font-family: Unbounded;
        font-size: 10px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        border-radius: 30px;
        border: 1px solid rgba(146, 144, 177, 0.4);
        backdrop-filter: blur(5px);
        &.tagActive {
          background-color: #9290b166;
        }
      }
    }
  }

  .paid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    margin-top: 10px;
    height: 27px;
  }

  .receiveTokenAmount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
  }
}

.panel {
  border-radius: 10px;
  padding: 12px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #121719;
}

.PanelContent {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 14px;
  display: flex;
  gap: 20px;
}

.Content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.PanelInput {
  border-radius: 8px;
  border: 1px solid rgba(146, 144, 177, 0.6) !important;
  background: rgba(146, 144, 177, 0.1);
  width: 335px;
  height: 68px;
  flex-shrink: 0;
}


.receiveTitle {
  white-space: nowrap;
}