:root {
  --background: #0d1012;
  --foreground: #fff;
  --part-bg: rgba(255, 38, 129, 1);
}

:root body {
  --adm-font-family: Unbounded, Arial, Helvetica, sans-serif;
}

div.adm-image-uploader {
  --cell-size: 100px;
}

@font-face {
  font-family: "Unbounded";
  src: url("/font/Unbounded-VariableFont_wght.ttf");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.app-container > :first-child {
  flex: 1;
  overflow: hidden;
}

.adm-tab-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: white;
  border-top: solid 1px #eee;
  z-index: 100;
}

@media (prefers-color-scheme: dark) {
  .adm-tab-bar {
    background: #1a1a1a;
    border-top-color: #333;
  }
}

.adm-button.main-btn {
  background: var(--part-bg);
  border: none;
  color: #fff;
  width: 100%;
  font-family: var(--adm-font-family);
  border-radius: 100px;
  height: 60px;
  font-size: 16px;
}

.adm-modal .adm-center-popup-wrap {
  max-width: 96vw;
  .adm-center-popup-body {
    background-color: #18131c;
    border-radius: 20px;
    padding: 0;
    .adm-modal-content {
      padding: 0;
    }
  }
}

.adm-popup .adm-popup-body {
  background-color: #121719;
}

.adm-toast-mask div.adm-toast-main {
  transform: translateY(-200%);
  max-width: 90%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 20px;
}

.adm-toast-mask .adm-toast-main-icon div.adm-toast-icon {
  margin-bottom: 0;
}
body::-webkit-scrollbar,
div::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  /**/
}
body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}
body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
body::-webkit-scrollbar-thumb:hover,
div::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

button {
  background: transparent;
  border: none;
}
