.MiningLaptopContainer {
  width: 100%;
  overflow-x: auto;
  height: 100dvh;
}
.MiningInner {
  width: 100%;
  min-width: 1240px;
  padding: 84px 30px 0 100px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 29px;
}
.MiningLeftWrapper {
  flex: 1;
}
.MiningRightWrapper {
  flex-shrink: 0;
  width: 438px;
  position: relative;
  padding: 29px 14px 89px;
}
.MiningUserInfo {
  display: flex;
  align-items: center;
  gap: 14px;
}
.MiningUserAvatar {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 2px solid #121719;
}
.MiningUserName {
  color: #FFF;
  text-align: center;
  font-family: Unbounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MiningSummaries {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  justify-content: space-between;
}
.MiningSummary {
  flex: 1;
  height: 98px;
  border-radius: 10px;
  border: 1px solid #323232;
  background: #1B1B1B;
  color: #FFF;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px 20px 0;
  text-align: left;
}
.MiningSummaryValue {
  color: #FFF;
  font-family: Unbounded;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.MiningSummaryValuePrimary {
  composes: MiningSummaryValue;
  background: linear-gradient(180deg, #FFE167 16.35%, #FBCA04 80.77%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.MiningSummaryLabel {
  margin-top: 9px;
}
.MiningStatistics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  margin-top: 26px;
}
.MiningStatisticsItem {}
.MiningStatisticsItemLabel {
  color: #FFF;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6;
}
.MiningStatisticsItemValue {
  color: #FFF;
  font-family: Unbounded;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
}
.MiningStatisticsItemValueUnderline {
  composes: MiningStatisticsItemValue;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
}
.MiningStatisticsItemValueSm {
  composes: MiningStatisticsItemValue;
  font-size: 14px;
}
.MiningStatisticsItemValueImages {
  composes: MiningStatisticsItemValue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.MiningEarn {
  margin-top: 50px;
}
.MiningEarnTitle {
  color: #FFF;
  font-family: Unbounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MiningEarnContent {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}
.MiningEarnFollowX {
  grid-column: span 2;
}
.MiningRightTitle {
  color: #FFF;
  font-family: Unbounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 6px;
}
.MiningRightContent {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
}
.MiningRightListItem {
  position: relative;
  height: 50px;
  border-radius: 10px;
  border: 1px solid rgba(50, 50, 50, 0.5);
  background: #1B1B1B;
  color: #FFF;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 10px 7px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  transition: background-color 0.2s ease-in-out;
}
.MiningRightListItem:hover {
  background: rgba(50, 50, 50, 0.5);
}
.MiningRightListItemLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}
.MiningRightListItemRank {
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: unset;
  top: unset;
}
.MiningRightListItemRankText {
  font-weight: 700;
}
.MiningRightListItemAvatar {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  border-radius: 30px;
  object-position: center;
  object-fit: cover;
  margin-left: 3px;
}
.MiningRightListItemName {}
.MiningRightListItemRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
.MiningRightListItemRightValue {}
.MiningRightFoot {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 14px;
  background: #242424;
  border-top: 1px solid #323232;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.MiningRightFootLeft {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #FFF;
  font-family: Unbounded;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.MiningRightFootLeftAvatar {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 2px solid #121719;
  object-fit: cover;
  object-position: center;
  margin-left: 9px;
}
.MiningRightFootNo {}
.MiningRightFootName {}
.MiningRightFootRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  color: #FFF;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
