.Wrapper {
  padding: 0 30px;
  position: relative;
  height: 100vh;
}

.Container {
  padding-left: 30px;
  padding-top: calc(50vh - 360px);
}

.Content {
  width: 664px;
}

.TitleWrapper {
  position: absolute;
  left: 30px;
  top: 20px;
  color: #fff;
  font-family: Unbounded;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.RankWrapper {
  width: 396px;
  max-height: calc(100vh - 70px);
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: #252328;
  border: 1px solid #3b3b3b;
  border-radius: 16px 16px 0px 0px;
}
