.main {
  min-height: 100vh;
  background: url(/img/mining/top-bg.png) left top no-repeat;
  background-size: 100% auto;
  padding-top: 50px;
  padding-bottom: 100px;

  .zBox {
    position: relative;
    z-index: 11;
  }

  .group {
    margin: 30px 10px 0;
    .groupTitle {
      color: #fff;
      font-size: 14px;
      font-weight: 500;
    }
    .groupContent {
      color: rgba(146, 144, 177, 1);
      font-size: 14px;
      font-weight: 300;
      margin-top: 10px;
    }
    .gitbook {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .bottomAni {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 40px;
    pointer-events: none;
    width: 100vw;
    overflow-x: hidden;
    /* height: 26vh; */
    .boxAni {
      display: flex;
      align-items: center;
      justify-content: center;
      animation: scroll 30s linear infinite;
      .boxImg {
        width: 100vw;
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
