.Container {
  width: 62px;
  height: 22px;
  flex-shrink: 0;
  background-color: #f2fff833;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #fff;
  font-family: Unbounded;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
