.main {
  background-color: #252328;
  border: 1px solid #3B3B3B;
  border-radius: 15px 15px 0 0;
}

.titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 0;
  .title {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
  }
}

.detailAvatar {
  display: flex;
  align-items: flex-start;
  padding: 15px;
  gap: 10px;
}

.tokenImgWrapper {
  width: 100px;
  .tokenImg {
    width: 100%;
    border-radius: 10px;
  }
}

.nameWrapper {
  .name {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
  }
  .tickerWrapper {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    .ticker {
      color: #fff;
    }
    .des {
      color: var(--part-bg);
    }
  }
}

.author {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  .authorTitle {
    color: #D9D9D9;
  }
  .authorDesc {
    color: #ffffff;
    white-space: nowrap;
    &.authorDescEs {
      color: var(--part-bg);
    }
  }

  .authorGreenTitle {
    color: #6fff00;
  }
  .authorGreenDesc {
    color: #6fff00;
  }
}

.aboutUs {
  padding: 10px 20px;

  .abountDetail {
    font-size: 12px;
    color: #fff;
    padding-top: 10px;
    font-family: Unbounded;
    color: #D9D9D9;
  }
  .linkDetail {
    font-size: 12px;
    word-break: break-all;
    a.link {
      color: var(--part-bg);
      border-bottom: 1px solid var(--part-bg);
    }
  }

  .communityIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15vw;
    padding: 35px 0;
  }
}

.panel {
  background-color: #121719;
  margin: 3px;
  border-radius: 10px;
  padding: 15px 15px;
}

.tokenAddressWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .tokenAddressTitle {
    font-size: 14px;
    color: #fff;
  }
  .tokenAddressContent {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    .tokenAddress {
      color: var(--part-bg);
    }
  }
}

.progressTitleWrapper {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: #FFFFFF;
  font-size: 14px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.progressDesc {
  color: #D9D9D9;
  font-size: 10px;
  margin-top: 10px;
}

