.Container {
  position: relative;
  z-index: 2;
}

.List {
  padding-top: 3px;
  overflow-y: auto;
  max-height: 80vh;
}

.Item {
  height: 60px;
  border-radius: 8px;
  backdrop-filter: blur(5px);
  margin-top: 6px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MobileItem {
  background: rgba(255, 255, 255, 0.08);
}

.LaptopItem {
  background: transparent;
  transition: 0.3s;
  padding: 8px 30px;
}

.LaptopItem:hover {
  background: rgba(255, 255, 255, 0.08);
}

.ItemLeft {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ItemTitle {
  color: #fff;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ItemDesc {
  color: #9290b1;
  font-family: Unbounded;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 6px;
}

.ItemRight {
  color: #fff;
  font-family: Unbounded;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: flex-end;
}
