.Container {
  position: relative;
  background: linear-gradient(180deg, #FF2681 0%, #0D1012 100%);
  padding: 0 30px 50px;
  min-width: max-content;
  height: 100%;
  overflow-y: auto;
}

.Back {
  margin-top: 20px;
}
