.avatarBox {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.tokenImgBox {
    border: 1px dashed #fff;
    border-radius: 46px;
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
}

.tokenImg {
    width: 30px;
    height: 30px;
    border-radius: 44px;
}


.ticker {
    color: #fff;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
}

.dec {
    color: #FBCA04;
}

.mc {
    color: #6FFF00;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    margin-top: 2px;
}