.Container {
  position: relative;
  padding-top: 70px;
}

.TrendBanner {
  display: flex;
  justify-content: center;
}

.Content {
  height: calc(100vh - 126px);
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}
