.Container {
  position: relative;
  padding-top: 70px;
}

.TabsWrapper {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}

.TrendBanner {
  display: flex;
  justify-content: center;
}

.Content {
  height: calc(100vh - 126px);
  display: flex;
  align-items: center;
  overflow: hidden;
}
