.Container {
  width: 100vw;
  overflow: hidden;
}

.List {
  transition: 0.5s;
}

.Wrapper {
  position: fixed;
  z-index: 50;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
