.main {
  width: 350px;
  max-width: 90vw;
  padding: 10px;
  .tipBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, #ff2681 0%, #bf9fff 100%);
    border-radius: 16px;
    overflow: hidden;
    padding: 40px 0;
    .tipText {
      margin-top: 30px;
      padding: 0 12px;
      color: #fff;
      text-align: center;
      font-weight: 300;
    }
  }

  .cancelBtn {
    color: #7e8a93;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
  }
}
