.Container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Flip {
  position: absolute;
  z-index: 20;
}

.FlipImage {
  position: absolute;
  z-index: 30;
}

.FlipNum {
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  font-family: Unbounded;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
