.imgList {
  width: 100%;
  height: 100%;

  .tokenImg {
    display: block;
    width: 100%;
    /* height: 100%; */
    /* border-radius: 5px; */
  }
}

.ImgWrapper {
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
