.distributionArea {
  margin-top: 10px;
  .distributionTitle {
    color: rgba(146, 144, 177, 1);
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
  }
}

.list {
  /* background-color: rgba(18, 23, 25, 1); */
  color: #fff;
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    .itemContent {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.LaptopList {
  border-radius: 10px;
  background: #ab1f5c;
  margin-top: 2px;
  padding: 16px;
  margin-right: 10px;
}

.UserName {
  display: flex;
  align-items: center;
  gap: 4px;
}
