.distributionArea {
  margin-top: 10px;
  .distributionTitle {
    color: rgba(146, 144, 177, 1);
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
  }
}

.list {
  /* background-color: rgba(18, 23, 25, 1); */
  color: #fff;
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    .itemContent {
      display: flex;
      align-items: center;
    }
  }
}

.LaptopList {
  background-color: transparent;
  margin-top: 10px;
}
