.Container {
  border-radius: 20px;
  border: 2px solid #9514ff;
  background: #18131c;
  position: relative;
  padding: 0px 70px 70px;
}

.Img {
  width: 286px;
  position: absolute;
  top: -100px;
  left: -50px;
}
