.Container {
  font-family: Unbounded;
  height: 56px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 7px 47px 7px 7px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 31px;
}
.ContainerMobile {
  composes: Container;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: unset;
  padding: 26px 22px 13px 19px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  backdrop-filter: blur(4px);
  z-index: 10;
}
.Avatar {
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 21px;
}
.Crown {
  width: 60px;
  height: 38px;
  position: absolute;
  left: -26px;
  top: -20px;
}
.Content {
  flex: 1;
}
.Title {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 4px;
}
.TitleRight {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
}
.CloseBtnMobile {
  width: 14px;
  height: 14px;
  background: url("/img/trends/icon-close.svg") no-repeat center / contain;
}
.Rank {
  color: #af0;
}
.Summaries {
  margin-top: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}
.Summary {
  display: flex;
  align-items: center;
  gap: 4px;
}
.SummaryLabel {
  color: rgba(255, 255, 255, 0.6);
}
.SummaryValue {
}
.Trade {
  height: 20px;
  flex-shrink: 0;
  border: 1px solid #fefffbcc;
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 3px;
  border-radius: 10px;
  padding: 0 5px;
}
.TradeIcon {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}
