.Container {
  width: 542px;
}

.Tabs {
  height: 420px;
  margin-bottom: 20px;
}

.PanelWrapper {
  padding: 10px 14px;
  background-color: #1b1b1b;
}

.PanelContent {
  height: 400px;
  overflow-y: auto;
}
