.Container {
  width: 542px;
}

.Tabs {
  margin-bottom: 20px;
}

.PanelWrapper {
  padding: 10px 14px;
  background-color: #1b1b1b;
  height: 100%;
}

.PanelContent {
  height: calc(100% - 20px);
  overflow-y: auto;
}
