.Container {
  padding-right: 14px;
  width: 542px;
  padding-left: 14px;
}

.Tabs {
  height: 400px;
  margin-bottom: 20px;
}

.PanelWrapper {
  padding: 10px 0px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.PanelContent {
  height: 380px;
  overflow-y: auto;
}
