.panel {
    width: 90vw;
    padding: 10px;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    overflow: hidden;
}

.boostInit {
    background: linear-gradient(360deg, #FF00D9 0%, #B1FFFA 100%);
    border-radius: 20px;
    color: #fff;
    padding: 20px;

    .initTipContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        .initTitle {
            font-size: 20px;
            margin-top: 10px;
        }
        .initAmount {
            font-size: 16px;
        }

        .initTip {
            font-size: 13px;
            font-weight: 300;
            margin-top: 20px;
        }
    }
}

.vipBox {
    width: 90vw;
    background: linear-gradient(180deg, #B68DFF 0%, #F6F2FF 100%);
    border-radius: 20px;
    padding: 15px 25px;
    .right {
        padding-top: 10px;
        display: flex;
        align-items: center;
        gap: 5px;
        .rightItem {
            flex: 1;
            .rightTitle {
                color: #47198C;
                font-size: 14px;
                font-weight: 500;
                padding-top: 10px;
            }
            .rightValue {
                padding-top: 10px;
                font-size: 16px;
                white-space: nowrap;
            }

            &.vipItem {
                background-color: #FFFFFF5E;
                border-radius: 12px;
                padding-left: 10px;
            }
        }
    }
}

.sureBtn {
    color: #fff;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: var(--part-bg);
    border-radius: 30px;
    margin-top: 17px;
}

.cancelBtn {
    color: #7E8A93;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}